<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin</title>
    <meta name="keywords" content="index" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
	<script type="text/javascript"  src="../static/js/jquery-2.1.1.min.js" th:src="@{js/jquery-2.1.1.min.js}"></script>
	<!-- <script type="text/javascript"  src="../static/assets/js/amazeui.min.js" th:src="@{assets/js/amazeui.min.js}"></script> -->
	<script type="text/javascript" src="../static/vendor/avalon/avalon.js" th:src="@{vendor/avalon/avalon.js}"></script>
	<script type="text/javascript" src="../static/js/datatables.js" th:src="@{js/datatables.js}"></script>
	<script type="text/javascript" src="../static/js/layui.js" th:src="@{js/layui.js}"></script>
	<script type="text/javascript" src="../static/js/router.js" th:src="@{js/router.js}"></script> 
	<script type="text/javascript">
	$(function(){
	  var result = '[{"id":"1","span_name":"平台管理","a_href":"javascript:;","tier":"1","bz":"1","child":[{"id":"2","span_name":"心跳状态监控","a_href":"table-list.html","tier":"2","bz":"1"}]},'+
	              '{"id":"3","span_name":"安全管理","a_href":"javascript:;","tier":"1","bz":"2","child":[{"id":"4","span_name":"用户创建","a_href":"table-list.html","tier":"2","bz":"2"}]},'+
	              '{"id":"5","span_name":"共享交换","a_href":"javascript:;","tier":"1","bz":"3","child":[{"id":"6","span_name":"服务目录","a_href":"table-list.html","tier":"2","bz":"3"}]},'+
	              '{"id":"7","span_name":"数据管理","a_href":"javascript:;","tier":"1","bz":"4","child":[{"id":"8","span_name":"数据资源目录","a_href":"table-list.html","tier":"2","bz":"4"}]},'+
	              '{"id":"9","span_name":"查询信息","a_href":"javascript:;","tier":"1","bz":"5","child":[{"id":"10","span_name":"律师信息检索","a_href":"table-list.html","tier":"2","bz":"5"},{"id":"11","span_name":"人口信息检索","a_href":"table-list.html","tier":"2","bz":"5"},{"id":"12","span_name":"组织机构检索","a_href":"table-list.html","tier":"2","bz":"5"}]}'+
	              ']' 
	  var user = '[{"id":"1","span_name":"平台管理","a_href":"javascript:;","tier":"1","bz":"1","child":[{"id":"2","span_name":"心跳状态监控","a_href":"table-list.html","tier":"2","bz":"1"}]},'+
      '{"id":"5","span_name":"共享交换","a_href":"javascript:;","tier":"1","bz":"3","child":[{"id":"6","span_name":"服务目录","a_href":"table-list.html","tier":"2","bz":"3"}]},'+
      '{"id":"7","span_name":"数据管理","a_href":"javascript:;","tier":"1","bz":"4","child":[{"id":"8","span_name":"数据资源目录","a_href":"table-list.html","tier":"2","bz":"4"}]},'+
      '{"id":"9","span_name":"查询信息","a_href":"javascript:;","tier":"1","bz":"5","child":[{"id":"10","span_name":"律师信息检索","a_href":"#!/search","tier":"2","bz":"5"},{"id":"11","span_name":"人口信息检索","a_href":"#!/people","tier":"2","bz":"5"},{"id":"12","span_name":"组织机构检索","a_href":"#!/organization","tier":"2","bz":"5"}]}'+
      ']' 
	/*  $.ajax({
		 url: "/getMenu",
		 type: "get",
		 dataType:"json",
		 success: function(result){ */
			 switch("user"){
		     	case  "admin":
		     		add_menu(result);
		     	break;
		     	case "user":
		     		add_menu(user);
		     	break;
		     	default:
		     	layer.alert("权限未分配，请管理员分配权限")
		     }
	/* 	 }
	 }) */
	 function add_menu(result){
         var data =JSON.parse(result);
         var i = '<i class="am-icon-table sidebar-nav-link-logo"></i>';
         var span = '<span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>';
         var ul = '<ul class="sidebar-nav sidebar-nav-sub">';
         $("#left_menu").append('<li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info">管理菜单</span></li>')
         $.each(data,function(n,item){           	  
           	  var li = $("<li class='sidebar-nav-link'></li>");
           	  var a = $('<a class="sidebar-nav-sub-title" href="'+item.a_href+'">');
                 a.append(i+item.span_name);
                 a.append(span);
                 li.append(a);
                 var child = []
                 child = item.child;
                 $.each(child,function(j,item2){
               	  var ul = $('<ul class="sidebar-nav sidebar-nav-sub">');
               	  var a2 = $('<a href="'+item2.a_href+'">');
               	  var span2 = '<span class="am-icon-angle-right sidebar-nav-link-logo"></span>';
               	  var li2 = $('<li class="sidebar-nav-link">') 
                  a2.append(span2+item2.span_name);
               	  li2.append(a2);
               	  ul.append(li2);
               	  li.append(ul);
               	  
                })
                $("#left_menu").append(li);          
        	});
	 }	
})
</script>
	
</head>


<body class="theme-white">
   <script type="text/javascript"  src="../static/assets/js/theme.js" th:src="@{assets/js/theme.js}"></script> 
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="assets/img/logo.png" alt="" /></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容..." />
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                        </li>

                        <!-- 新邮件 -->
                        <!-- <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                            弹出列表
                            <ul class="am-dropdown-content tpl-dropdown-content">
                                <li class="tpl-dropdown-menu-messages">
                                 
                                </li>

                                <li class="tpl-dropdown-menu-messages">
                                   
                                </li>
                                <li class="tpl-dropdown-menu-messages">
                                   
                                </li>
                            </ul>
                        </li> -->

                        <!-- 新提示 -->
                        <!-- <li class="am-dropdown" data-am-dropdown>
                           
                        </li> -->

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="" />
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
                </div>
            </div>

            <!-- 菜单 -->
            <ul id="left_menu" class="sidebar-nav">
            </ul>
        </div>
		</div>

        <!-- 内容区域 -->
        <div  class="tpl-content-wrapper">
          
        	 
        <div ms-controller="admin">
 
            <div ms-view></div>
        </div>
      	 
    	</div>
    	<script type="text/javascript"  src="../static/assets/js/app.js" th:src="@{assets/js/app.js}"></script> 


</body>

</html>